~/Insync/hg20831@bristol.ac.uk/OneDrive[[:space:]]Biz/COMPASS[[:space:]]Y1/Computing[[:space:]]1/Assessment/Group[[:space:]]Project/crime-2019.csv filter=lfs diff=lfs merge=lfs -text
/data/crime-2019.csv filter=lfs diff=lfs merge=lfs -text
/data/crime-2001present.csv filter=lfs diff=lfs merge=lfs -text
